.palette {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.square {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    opacity: 0.6;
}

.square:hover {
    opacity: 1;
}

.square.selected {
    opacity: 1;
}

.square+.square {
    margin-left: 1rem;
}